<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key><string>Ọrọ̀</string>
  <key>CFBundleDisplayName</key><string>Ọrọ̀</string>
  <key>CFBundleIdentifier</key><string>local.oro.launcher</string>
  <key>CFBundleVersion</key><string>2.2</string>
  <key>CFBundleShortVersionString</key><string>2.2</string>
  <key>CFBundlePackageType</key><string>APPL</string>
  <key>CFBundleExecutable</key><string>Oro</string>
  <key>CFBundleIconFile</key><string>oro</string>
  <key>LSApplicationCategoryType</key><string>public.app-category.finance</string>
  <key>LSMinimumSystemVersion</key><string>11.0</string>
  <key>NSHighResolutionCapable</key><true/>
</dict>
</plist>
